.account-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.login-form {
  margin: 0 auto;
  width: 450px;
  padding: 1.5rem;
  background-color: #fff;
  color: #295867;
  border-radius: 10px;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.2);
  text-align: center;
}

.login-form *:first-child {
  margin-top: 0;
}

.login-form *:last-child {
  margin-bottom: 0;
}

.login-form__button {
  margin: 1rem 0 0 0;
  padding: 0.5rem 1rem;
  grid-column: 1 / 3;
  justify-self: center;
  background-color: #295867;
  color: white;
  font-size: 1em;
  border: none;
}

.login-form__button:hover {
  margin: 1rem 0 0 0;
  padding: 0.5rem 1rem;
  grid-column: 1 / 3;
  justify-self: center;
  background-color: #83b6af;
  color: white;
  font-size: 1em;
  border: none;
}
