.travel-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.travel-list {
  display: inline-grid;
  gap: 1rem;
  grid-template-columns: 1fr 1fr;
  grid-auto-rows: 1fr;
  list-style: none;
  margin: 0;
  padding: 0;
  justify-items: center;
  align-items: center;
  justify-content: space-around;
}

.travel-list {
  height: 100%;
}

.travel-filter {
  background-color: #295867;
  color: white;
  font-size: 1rem;
  margin-bottom: 2rem;
  padding: 0.5rem;
}

.travel-filter:hover {
  background-color: #83b6af;
}
